{{#each players as |player|}}
  <!-- {{log player}} -->

<li>Player ID: {{player.id}} | Name: {{player.name}}, Position: {{player.position}},
   Keeper:  {{player.keeper}}, Fantasy Owner: {{player.user_id}},
  Current Roster Spot: {{player.roster_spot}}</li>
<hr>


{{/each}}
